[alias]
	co = checkout
	cob = checkout -b
	coo = !git fetch && git checkout
	br = branch
	brd = branch -d
	brD = branch -D
	merged = branch --merged
	dmerged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	st = status
	aa = add -A .
	cm = commit
	aacm = !git add -A . && git commit
	cp = cherry-pick
	amend = commit --amend 
	po = push origin
	poh = push origin HEAD
	plo = pull origin
	unstage = reset --soft HEAD^
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	f = "!git ls-files | grep -i"
	gr = grep -Ii
	la = "!git config -l | grep alias | cut -c 7-"
	ignore = "update-index --assume-unchanged"

